#myWebsite{
    margin: 0 auto;
    text-align: center;
    width: 1440px;
}

.border{
    width: 900px;
    height: 150px;
    padding: 20px;
    border: silver 1px dashed;
    margin: 10px auto;
    text-align: left;
}

img{
    width: 100px;
    height: 100px;
}

#checkboxBorder{
    line-height: 100px;
    vertical-align: middle;
}

#pay{
    font-size: 18px;
}

#money{
    font-size: 22px;
    color: tomato;
    font-weight: bold
}

.payMoney{
    margin: 0 auto;
    width: 900px;
    text-align: right;
    height: 50px;
    background-color:silver
}

#button{
    width: 100px;
    height: 50px;
    background-color: tomato;
    color: antiquewhite;
    font-size: 20px;
}
.userborder{
    padding: 10px;
    border:silver 1px solid;
    text-align: left;
    margin: 10px auto;
    width: 900px;
}

.title{ 
    margin: 0px auto;
    font-size: 14px;
    color:silver;
    width:900px;
    height: 25px;
    text-align: left;
}

#message{
    width: 900px;
    color:black;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}


.price{
    width: 80px;
    text-align: right;
    display: inline-block;
    margin: 10px;
}

.content{
    width: 450px;
    text-align:left;
    display: inline-block;
    height: 250;
}

.quantity{
    width: 50px;
    margin: 10px;
    height: 30px;
}